* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
header {
  position: relative;
  padding: 13px 20px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #7b7b7b80;
}
@media (min-width: 700px) {
  header {
    padding: 13px 40px;
  }
}
.header_logo {
  width: auto;
  height: 100%;
}
.menuIcon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .menuIcon {
    display: none;
  }
}
.menuIcon_bar {
  border-radius: 30px;
  height: 4px;
  width: 100%;
  background-color: black;
}
#menu {
  display: none;
}
.navigation {
  display: none;
}
#menu:checked ~ .navigation {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .navigation {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
a {
  text-decoration: none;
  color: black;
}
.navigation_link {
  padding: 10px;
  background-color: white;
  border: 1px solid #7b7b7b80;
}
@media (min-width: 700px) {
  .navigation_link {
    border: 0;
  }
  .navigation_link:hover {
    text-decoration: underline 2px;
  }
}
.navigation_button {
  display: none;
}
@media (min-width: 700px) {
  .navigation_button {
    display: inherit;
    padding: 10px 20px;
    border: 3px solid #ed6436;
    border-radius: 0 30px 30px 30px;
    font-weight: 600;
    transition: all 0.2s;
  }
}
@media (min-width: 700px) {
  .navigation_button:active {
    color: white;
    background-color: #ed6436;
  }
}
.section {
  padding: 13px 20px;
}
.section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 700px) {
  .section__info {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
  }
}
.section__info__title {
  width: fit-content;
  font-size: 20px;
  color: #ed6436;
}
.section__info__hook {
  text-align: center;
  font-size: 35px;
  width: 100%;
}
@media (min-width: 700px) {
  .section__info__hook {
    font-size: 50px;
    width: fit-content;
  }
}
.section__info__link {
  padding: 10px 20px;
  border: 3px solid #ed6436;
  border-radius: 0 20px 20px 20px;
  width: fit-content;
  font-weight: 600;
  color: white;
  background-color: #ed6436;
  cursor: pointer;
  transition: all 0.2s;
}
@media (min-width: 700px) {
  .section__info__link {
    align-self: flex-end;
  }
}
.section__info__link:hover {
  color: black;
  background-color: transparent;
}
.section__displayer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
}
@media (min-width: 700px) {
  .section__displayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-around;
  }
}
.section__displayer__image {
  width: 320px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
}
@media (min-width: 700px) {
  .section__displayer__image {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
  }
}
